<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mx.stratomedios.smmedios"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Strato Medios</name>

    <description>
        Descripición. 
    </description>

    <author href="http://tekoestudio.com" email="diseno@tekoestudio.com">
        Teko Estudio
    </author>
    
    <gap:splash src="screen/intro7.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="screen/intro6.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="screen/intro5.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="screen/intro4.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="screen/intro3.png" gap:platform="ios" width="768" height="1004" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="screen/intro2.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="screen/intro1.png" gap:platform="ios" width="1536" height="2008" />

    

</widget>